<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="main">
        <app-header></app-header>
        <main class="content">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Employees list</h5>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Employee id</th>
                                        <th>Phone number</th>
                                        <th>Email id</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Gender</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let emp of employeeList">
                                        <td>{{emp.employeeId}}</td>
                                        <td>{{emp.mobileNumber}}</td>
                                        <td>{{emp.email}}</td>
                                        <td>{{emp.firstName}}</td>
                                        <td>{{emp.lastName}}</td>
                                        <td>{{emp.gender}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>